@import "bootstrap-sprockets";
@import "bootstrap";

ul {
  list-style-type: none;
}
.panel {
  margin-right: 350px;
}

.book-cover {
  width: 300px;
  float: right;
  img {
    width: 100%;
  }
}

body {
  background-image: url("books.jpg");
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%), url("books.jpg");
  background-size: cover;
}

.well {
  background-color: rgba(165, 89, 89, 0.7);
  border-color: rgba(165, 89, 89, 1);
  min-height: 700px;
}

.well-home {
  background-color: rgba(165, 89, 89, 0.8);
  border-color: rgba(165, 89, 89, 1);
  min-height: 500px;
  padding: 20px;
  li {
    font-size: 20px;
    a {
      color: tomato;
    }
  }
}

.container {
  h1, h4, li {
    color: white;
  }
}

.navbar {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
